* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  height: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  background: #111;
  color: #f0f0f0;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 1em;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#container {
  padding: 2em;
}
header {
  background: #c14c4c;
  color: #e6eef0;
  height: 80px;
  font-size: 20px;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: 20px;
  padding-left: 60px;
  margin-bottom: 20px;
  background-image: linear-gradient(#c14c4c, #711);
}
h1 {
  display: inline-block;
  font-weight: 400;
  font-size: 1.5em;
  color: #e6eef0;
}
h1 a {
  color: #e6eef0;
}
footer {
  color: #666;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 3em;
}
footer a {
  color: #17baef;
}
nav.breadcrumbs {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 0em 0em 0.8em 0.1em;
  text-transform: lowercase;
}
nav.breadcrumbs a,
nav span {
  display: inline;
}
nav.breadcrumbs a {
  color: #f0f0f0;
  text-decoration: underline;
}
#albums,
#media {
  margin: 0em;
}
#albums a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  overflow: hidden;
  background-size: cover;
}
.caption {
  opacity: 0.7;
}
#albums .summary {
  font-size: 1.2em;
}
#albums h3 {
  font-size: 1.4em;
  margin-bottom: 0.3em;
}
.albumList,
.albumList img {
  cursor: zoom-in;
}
.video-overlay img {
  left: 50%;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  position: absolute;
  top: 50%;
  width: 48px;
}
#lightSlider {
  max-height: 400px;
  min-height: 400px;
}
#lightSlider li {
  height: 100%;
}
#lightSlider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.lSSlideOuter {
  margin-bottom: 50px;
}
nav.pagination {
  color: #666;
  display: inline-block;
  font-size: 1em;
  margin-top: 2em;
  padding: 0em 0em 0.5em 0em;
}
nav.pagination .page {
  margin-right: 0.2em;
}
nav.pagination .page.current {
  font-weight: bold;
}
nav.pagination a {
  color: #666;
}
#zip {
  color: #666;
  margin-bottom: 2em;
}
#zip a {
  color: #3399ff;
}
/* Your custom styles goes here */
